<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gilab.wjj.persistence.mapper.BasicLedgerMapper">
    <select id="selectBasicLedger" resultMap="BasicLedgerMap">
        select
        id,
        contractId,
        contractNo,
        beneficiaryId,
        calFormula,
        planPayDate,
        planPayCountPre,
        planPayCountPost,
        actualPayDate,
        actualPayCount,
        payStatus,
        taxRate,
        rentMonthMode
        from finance_basic_ledger
        where id = #{id,typeHandler=LongTypeHandler}
    </select>

    <select id="selectBasicLedgerWithContract" resultMap="BasicLedgerMap">
        select
        id,
        contractId,
        contractNo,
        beneficiaryId,
        calFormula,
        planPayDate,
        planPayCountPre,
        planPayCountPost,
        actualPayDate,
        actualPayCount,
        payStatus,
        taxRate,
        rentMonthMode
        from finance_basic_ledger
        where contractId = #{contractId,typeHandler=LongTypeHandler}
    </select>

    <select id="selectBasicLedgerWithContractNo" resultMap="BasicLedgerMap">
        select
        id,
        contractId,
        contractNo,
        beneficiaryId,
        calFormula,
        planPayDate,
        planPayCountPre,
        planPayCountPost,
        actualPayDate,
        actualPayCount,
        payStatus,
        taxRate,
        rentMonthMode
        from finance_basic_ledger
        where contractNo = #{contractNo}
    </select>

    <insert id="insertBasicLedger" useGeneratedKeys="true" keyProperty="id">
        insert into finance_basic_ledger (
        contractId,
        contractNo,
        beneficiaryId,
        calFormula,
        planPayDate,
        planPayCountPre,
        planPayCountPost,
        actualPayDate,
        actualPayCount,
        payStatus,
        taxRate,
        rentMonthMode
        )
        values (
        #{contractId,typeHandler=LongTypeHandler},
        #{contractNo},
        #{beneficiaryId,typeHandler=LongTypeHandler},
        #{calFormula},
        #{planPayDate,typeHandler=TimestampLongHandler},
        #{planPayCountPre},
        #{planPayCountPost},
        #{actualPayDate,typeHandler=TimestampLongHandler},
        #{actualPayCount},
        #{payStatus,typeHandler=PayStatusHandler},
        #{taxRate},
        #{rentMonthMode,typeHandler=RentMonthModeHandler}
        )
    </insert>

    <insert id="batchInsertBasicLedgers" parameterType="java.util.List">
    insert into finance_basic_ledger (
    contractId,
    contractNo,
    beneficiaryId,
    calFormula,
    planPayDate,
    planPayCountPre,
    planPayCountPost,
    actualPayDate,
    actualPayCount,
    payStatus,
    taxRate,
    rentMonthMode
    )
    values
    <foreach collection="list" item="item" index="index" separator=",">
        (
        #{item.contractId,typeHandler=LongTypeHandler},
        #{item.contractNo},
        #{item.beneficiaryId,typeHandler=LongTypeHandler},
        #{item.calFormula},
        #{item.planPayDate,typeHandler=TimestampLongHandler},
        #{item.planPayCountPre},
        #{item.planPayCountPost},
        #{item.actualPayDate,typeHandler=TimestampLongHandler},
        #{item.actualPayCount},
        #{item.payStatus,typeHandler=PayStatusHandler},
        #{item.taxRate},
        #{item.rentMonthMode,typeHandler=RentMonthModeHandler}
        )
    </foreach>
    </insert>

    <resultMap id="BasicLedgerMap" type="BasicLedger">
        <id property="id" column="id"/>
        <result property="contractId" column="contractId"/>
        <result property="contractNo" column="contractNo"/>
        <result property="beneficiaryId" column="beneficiaryId"/>
        <result property="calFormula" column="calFormula"/>
        <result property="planPayDate" column="planPayDate" typeHandler="TimestampLongHandler"/>
        <result property="planPayCountPre" column="planPayCountPre"/>
        <result property="planPayCountPost" column="planPayCountPost"/>
        <result property="actualPayDate" column="actualPayDate" typeHandler="TimestampLongHandler"/>
        <result property="actualPayCount" column="actualPayCount"/>
        <result property="payStatus" column="payStatus" javaType="PayStatus" typeHandler="PayStatusHandler"/>
        <result property="taxRate" column="taxRate"/>
        <result property="rentMonthMode" column="rentMonthMode" javaType="RentMonthMode" typeHandler="RentMonthModeHandler"/>
    </resultMap>
</mapper>