<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gilab.wjj.persistence.mapper.ContractMapper">

    <!--select section -->
    <select id="selectContract" resultMap="ContractMap">
        select
        id,
        region,
        contractNo,
        contractVersion,
        subscriptionDate,
        signer,
        signingMode,
        signingDate,
        buildingInfo,
        buildingSize,
        originalPrice,
        totalPrice,
        signTotalPrice,
        leasebackPrice,
        backPremium,
        payStartDate,
        contractTerDate,
        paybackDate,
        beneficiary,
        proposalId,
        contractStatus,
        tariff,
        taxAmount,
        logs
        from finance_contract
        where id = #{id,typeHandler=LongTypeHandler}
    </select>

    <select id="selectContractWithFilter" resultMap="ContractMap">
        select
        id,
        region,
        contractNo,
        contractVersion,
        subscriptionDate,
        signer,
        signingMode,
        signingDate,
        buildingInfo,
        buildingSize,
        originalPrice,
        totalPrice,
        signTotalPrice,
        leasebackPrice,
        backPremium,
        payStartDate,
        contractTerDate,
        paybackDate,
        beneficiary,
        proposalId,
        contractStatus,
        tariff,
        taxAmount,
        logs
        from finance_contract
        where 1 = 1
        <if test="filterStartTime != null">
            and signingDate &gt;= #{filterStartTime,typeHandler=TimestampLongHandler}
        </if>
        <if test="filterEndTime != null">
            and signingDate &lt; #{filterEndTime,typeHandler=TimestampLongHandler}
        </if>
        <if test="contractVersion != null">
            and contractVersion = #{contractVersion}
        </if>
        <if test="buildingStartSize != null">
            and buildingSize &gt;= #{buildingStartSize}
        </if>
        <if test="buildingEndSize != null">
            and buildingSize &lt; #{buildingEndSize}
        </if>
        <if test="signingMode != null">
            and signingMode = #{signingMode,javaType=SigningMode,typeHandler=SigningModeHandler}
        </if>
        <if test="status != null">
            and contractStatus = #{status,javaType=ContractStatus,typeHandler=ContractStatusHandler}
        </if>
    </select>

    <insert id="insertContract" useGeneratedKeys="true" keyProperty="id">
        insert into finance_contract (
        region,
        contractNo,
        contractVersion,
        subscriptionDate,
        signer,
        signingMode,
        signingDate,
        buildingInfo,
        buildingSize,
        originalPrice,
        totalPrice,
        signTotalPrice,
        leasebackPrice,
        backPremium,
        payStartDate,
        contractTerDate,
        paybackDate,
        beneficiary,
        proposalId,
        contractStatus,
        tariff,
        taxAmount,
        logs
        )
        values (
        #{region},
        #{contractNo},
        #{contractVersion},
        #{subscriptionDate,typeHandler=TimestampLongHandler},
        #{signer,typeHandler=ListMerchant2StringHandler},
        #{signingMode,javaType=SigningMode,typeHandler=SigningModeHandler},
        #{signingDate,typeHandler=TimestampLongHandler},
        #{buildingInfo},
        #{buildingSize},
        #{originalPrice},
        #{totalPrice},
        #{signTotalPrice},
        #{leasebackPrice},
        #{backPremium},
        #{payStartDate,typeHandler=TimestampLongHandler},
        #{contractTerDate,typeHandler=TimestampLongHandler},
        #{paybackDate,typeHandler=TimestampLongHandler},
        #{beneficiary,typeHandler=MerchantHandler},
        #{proposalId,typeHandler=LongTypeHandler},
        #{contractStatus,javaType=ContractStatus,typeHandler=ContractStatusHandler},
        #{tariff},
        #{taxAmount},
        #{logs}
        )
    </insert>

    <insert id="batchInsertContracts" parameterType="java.util.List">
        insert into finance_contract (
        region,
        contractNo,
        contractVersion,
        subscriptionDate,
        signer,
        signingMode,
        signingDate,
        buildingInfo,
        buildingSize,
        originalPrice,
        totalPrice,
        signTotalPrice,
        leasebackPrice,
        backPremium,
        payStartDate,
        contractTerDate,
        paybackDate,
        beneficiary,
        proposalId,
        contractStatus,
        tariff,
        taxAmount,
        logs
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.region},
            #{item.contractNo},
            #{item.contractVersion},
            #{item.subscriptionDate,typeHandler=TimestampLongHandler},
            #{item.signer,typeHandler=ListMerchant2StringHandler},
            #{item.signingMode,javaType=SigningMode,typeHandler=SigningModeHandler},
            #{item.signingDate,typeHandler=TimestampLongHandler},
            #{item.buildingInfo},
            #{item.buildingSize},
            #{item.originalPrice},
            #{item.totalPrice},
            #{item.signTotalPrice},
            #{item.leasebackPrice},
            #{item.backPremium},
            #{item.payStartDate,typeHandler=TimestampLongHandler},
            #{item.contractTerDate,typeHandler=TimestampLongHandler},
            #{item.paybackDate,typeHandler=TimestampLongHandler},
            #{item.beneficiary,typeHandler=MerchantHandler},
            #{item.proposalId,typeHandler=LongTypeHandler},
            #{item.contractStatus,javaType=ContractStatus,typeHandler=ContractStatusHandler},
            #{item.tariff},
            #{item.taxAmount},
            #{item.logs}
            )
        </foreach>
    </insert>

    <!-- update section -->
    <update id="updateContract" parameterType="Contract">
        update finance_contract
        set
        region = #{region},
        contractNo = #{contractNo},
        contractVersion = #{contractVersion},
        subscriptionDate = #{subscriptionDate,typeHandler=TimestampLongHandler},
        signer = #{signer,typeHandler=ListMerchant2StringHandler},
        signingMode = #{signingMode,javaType=SigningMode,typeHandler=SigningModeHandler},
        signingDate = #{signingDate,typeHandler=TimestampLongHandler},
        buildingInfo = #{buildingInfo},
        buildingSize = #{buildingSize},
        originalPrice = #{originalPrice},
        totalPrice = #{totalPrice},
        signTotalPrice = #{signTotalPrice},
        leasebackPrice = #{leasebackPrice},
        backPremium = #{backPremium},
        payStartDate = #{payStartDate,typeHandler=TimestampLongHandler},
        contractTerDate =  #{contractTerDate,typeHandler=TimestampLongHandler},
        paybackDate = #{paybackDate,typeHandler=TimestampLongHandler},
        beneficiary = #{beneficiary,typeHandler=MerchantHandler},
        proposalId = #{proposalId,typeHandler=LongTypeHandler},
        contractStatus = #{contractStatus,javaType=ContractStatus,typeHandler=ContractStatusHandler},
        tariff = #{tariff},
        taxAmount = #{taxAmount},
        logs = #{logs}
        where id = #{id,typeHandler=LongTypeHandler}
    </update>

    <update id="batchUpdateContractStatus" parameterType="java.util.List">
        update finance_contract
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="contractStatus =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.contractStatus !=null">
                        when id=#{item.id} then #{item.contractStatus,javaType=ContractStatus,typeHandler=ContractStatusHandler}
                    </if>
                    <if test="item.contractStatus == null">
                        when id=#{item.id} then finance_contract.contractStatus
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,typeHandler=LongTypeHandler}
        </foreach>
    </update>

    <!-- delete section -->
    <delete id="deleteContract">
        delete from finance_contract where id = #{id,typeHandler=LongTypeHandler}
    </delete>

    <resultMap id="ContractMap" type="Contract">
        <id property="id" column="id"/>
        <result property="region" column="region"/>
        <result property="contractNo" column="contractNo"/>
        <result property="contractVersion" column="contractVersion"/>
        <result property="subscriptionDate" column="subscriptionDate" typeHandler="TimestampLongHandler"/>
        <result property="signer" column="signer" typeHandler="ListMerchant2StringHandler"/>
        <result property="signingMode" column="signingMode" javaType="SigningMode" typeHandler="SigningModeHandler"/>
        <result property="signingDate" column="signingDate" typeHandler="TimestampLongHandler"/>
        <result property="buildingInfo" column="buildingInfo"/>
        <result property="buildingSize" column="buildingSize"/>
        <result property="originalPrice" column="originalPrice"/>
        <result property="totalPrice" column="totalPrice"/>
        <result property="signTotalPrice" column="signTotalPrice"/>
        <result property="leasebackPrice" column="leasebackPrice"/>
        <result property="backPremium" column="backPremium"/>
        <result property="payStartDate" column="payStartDate" typeHandler="TimestampLongHandler"/>
        <result property="contractTerDate" column="contractTerDate" typeHandler="TimestampLongHandler"/>
        <result property="paybackDate" column="paybackDate" typeHandler="TimestampLongHandler"/>
        <result property="beneficiary" column="beneficiary" javaType="Merchant" typeHandler="MerchantHandler"/>
        <result property="proposalId" column="proposalId"/>
        <result property="contractStatus" column="contractStatus" javaType="ContractStatus" typeHandler="ContractStatusHandler"/>
        <result property="tariff" column="tariff"/>
        <result property="taxAmount" column="taxAmount"/>
        <result property="logs" column="logs"/>

    </resultMap>

</mapper>