<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gilab.wjj.persistence.mapper.UserMapper">
  <!--select section -->
  <select id="selectUser" resultMap="UserMap">
    select
    id,
    username,
    password,
    permissions,
    description
    from finance_user
    where id = #{id,typeHandler=LongTypeHandler}
  </select>

  <select id="selectUserWithName" resultMap="UserMap">
    select
    id,
    username,
    password,
    permissions,
    description
    from finance_user
    where username = #{username}
  </select>

  <select id="selectUserWithFilter" resultMap="UserMap">
    select
    id,
    username,
    password,
    permissions,
    description
    from finance_user
    where 1 = 1
    <if test="username != null">
      and username = #{username}
    </if>
  </select>

  <!-- insert section -->
  <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
    insert into finance_user (
    username,
    password,
    permissions,
    description
    )
    values (
    #{username},
    #{password},
    #{permissions,typeHandler=ListPermissionToStringHandler},
    #{description}
    )
  </insert>

  <!-- update section -->
  <update id="updateUser" parameterType="User">
    update finance_user
    set
     username = #{username},
     password = #{password},
     permissions = #{permissions,typeHandler=ListPermissionToStringHandler},
     description = #{description}
    where id = #{id,typeHandler=LongTypeHandler}
  </update>

  <!-- delete section -->
  <delete id="deleteUser">
    delete from finance_user where id = #{id,typeHandler=LongTypeHandler}
  </delete>

  <resultMap id="UserMap" type="User">
    <id property="id" column="id"/>
    <result property="username" column="username"/>
    <result property="password" column="password"/>
    <result property="permissions" column="permissions" typeHandler="ListPermissionToStringHandler"/>
    <result property="description" column="description"/>
  </resultMap>
</mapper>